<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gy_structure</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
     <servlet>
      <servlet-name>dispatcherServlet</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <!-- 自定义servlet文件名、文件位置需要使用该参数配置 -->
      <init-param>
        <!-- 分发器拦截的上下文-contextConfigLocation|指定servlet context配置文件的位置 -->
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath:spring/spring-mvc-config.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
 <servlet>
  	<servlet-name>studyController</servlet-name>
  	<servlet-class>com.guoyasoft.controller.StudyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studyController</servlet-name>
  	<url-pattern>/studyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>taskController</servlet-name>
  	<servlet-class>com.guoyasoft.controller.TaskController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskController</servlet-name>
  	<url-pattern>/taskInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>summaryController</servlet-name>
  	<servlet-class>com.guoyasoft.controller.SummaryController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>summaryController</servlet-name>
  	<url-pattern>/summaryInfo</url-pattern>
  </servlet-mapping>
   <!--配置servlet与处理请求的映射模式，会对所有*.jsp的后缀请求处理-->
   <servlet-mapping>
      <servlet-name>dispatcherServlet</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
   <servlet-mapping>  
     <servlet-name>default</servlet-name>  
     <url-pattern>*.css</url-pattern>  
</servlet-mapping>  
  
<servlet-mapping>  
    <servlet-name>default</servlet-name>  
    <url-pattern>*.gif</url-pattern>  
  
</servlet-mapping>  
     
<servlet-mapping>  
     <servlet-name>default</servlet-name>  
     <url-pattern>*.jpg</url-pattern>  
</servlet-mapping>  
     
<servlet-mapping>  
     <servlet-name>default</servlet-name>  
     <url-pattern>*.js</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
     <servlet-name>default</servlet-name>  
     <url-pattern>*.html</url-pattern>  
</servlet-mapping> 

	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:spring/applicationContext*.xml</param-value>
	</context-param>
	<!--增加监听器-->
	<listener>
	   <listener-class>
	org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
   <!-- 字符过滤器 -->  
  <filter>  
    <filter-name>encodingFilter</filter-name>  
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
    <init-param>  
        <param-name>encoding</param-name>  
        <param-value>UTF-8</param-value>  
    </init-param>  
  </filter>  
  <filter-mapping>  
    <filter-name>encodingFilter</filter-name>  
    <url-pattern>/*</url-pattern>  
  </filter-mapping>  
</web-app>